#espacio{
  width: 100%;
  height: 100%;
}

h1 {
  padding-top: 15%;
  padding-bottom: 5%;
  color:white;
  text-align: center;
}

#div1 {
  top:30%;
  width: 200px;
  height: 200px;
  font-weight: bold;
  position: relative;
  animation: mymove 5s infinite;
}

#div1 {animation-timing-function: linear;}

@keyframes mymove {
  from {left: 0%;}
  to {left: 88%; transform: rotate(2turn);}
}

#div1 {animation-timing-function: linear;}