<mat-card>
    <mat-card-header>
        <mat-card-title>{{ product.title }} {{ product.description }}</mat-card-title>
        <mat-card-subtitle style="color: red;">Desde: {{ product.price | currency:'EUR'}}</mat-card-subtitle>
    </mat-card-header>
    <img [src]="product.image" alt="">
    <mat-card-actions>
        <a mat-raised-button color="primary" [routerLink]="['/products', product.id]">Ver detalle</a>
        <button mat-raised-button color="primary" class="agregar" (click)="addCart()">Agregar a la cesta</button>
    </mat-card-actions>
</mat-card>


