
:host{
    margin: 5%;
    background-color: rgba(255, 255, 255, 0.158);
    border-radius: 2%;
    display: block;
    text-align: center;}

button {
    margin-right: 3%;
  }

img{
    max-width: 100%;
}
