:host{
    margin: 5%;
    background-color: rgba(255, 255, 255, 0.158);
    border-radius: 2%;
    display: block;
    text-align: center;
}

button {
    color: white;
    padding: 3%;
    border: 4%;
    border-radius: 10px;
    background: #080808;
    margin: 3%;
    transition: all .1s ease-out;
    &:hover {
      background: darken(#939494, 5%)
    }
  }

img{
    max-width: 100%;
}