<input type="text" [(ngModel)]="title">
{{title}}

<div *ngIf="title == 'Angular'">
  Esto es un Angular
</div>

<div *ngIf="title == 'julian'">
  Esto es un Julian
</div>

<div *ngIf="title == 'Sebas'">
  Esto es un Sebas
</div>

<div [ngSwitch]="title">
  <p>Este es el ngSwitch</p>
  <p *ngSwitchCase="'Julian'">Este es Julian</p>
  <p *ngSwitchCase="'Angular'">Este es Angular</p>
  <p *ngSwitchCase="'Sebas'">Este es Sebas</p>
  <p *ngSwitchDefault>No hay coincidencias</p>
</div>

<button (click)="addItem()">Añadir</button>


<ul>
  <li *ngIf="items.length === 0">LA LISTA ESTA VACIA</li>
  <li *ngFor="let name of items; index as i">
    {{name + " " + i}}
    <button (click)="deleteItem(i)">Delete</button>
  </li>
</ul>


<div *ngFor="let product of products">
  {{ product.title }}
  <img [src]="product.image" alt="">
  {{ product.precio }}
</div>